.cell {
    height:10px;
    width:10px;
    display:inline-block;
    padding:0px;
    margin:0px;
}
.cell.live {
    background-color:blue;
}
.cell.dead {
    background-color: gray;
}
.row {
    display:block;
    padding:0px;
    margin:0px;  
    line-height:10px;  
}